@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World Player</h1>
    @if (ViewData["imgFile"] != null){
        <div>
            <img id="posterImage" src="@ViewData["imgFile"] width="300px" height="300px">
        </div>
    }
    @if (ViewData["videoFile"] != null){
        <div>
            <p>video</p>
            <video id="videoPlayer" width="320" height="240" controls>
                <source src="@ViewData["videoFile"]">
            </video>
        </div>
    }
    @if (ViewData["audioFile"] != null){
        <div>
            <p>audio</p>
            <audio id="audioPlayer" controls>
                <source src="@ViewData["audioFile"]">
            </audio>
        </div>
    }
</div>
